@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #101320;
    --color--secondary: #27ae60;
    --color--white: white;
    --color--black: black;
    --color--grey0: #f8f8f8;
    --color--grey-1: #dbe1e8;
    --color--grey-2: #b2becd;
    --color--grey-3: #6c7983;
    --color--grey-4: #454e56;
    --color--grey-5: #2a2e35;
    --color--grey-6: #12181b;
    --br-sm-2: 14px;
    --box--shadow-1: -4px 4px 10px rgba(0, 0, 0, 0.5);
    --box--shadow-2: 0 3px 15px rgba(0, 0, 0.3);
}


.main_content {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;

}

.box {
    position: relative;
    width: 100%;

}

.box {
    @apply mt-10
}

.box {
    min-height: 38rem;
    border-radius: 2px;

}


.nav_text {
    @apply text-xl
}


.navbar_con {
    @apply absolute md:relative top-14 transition ease-in-out duration-700 w-36 md:w-auto z-10 bg-nav md:bg-transparent md:top-2
}

.svg_num {
    margin-left: -5px;
}


.home_image {

    background: url(images/girl1.jpg) center center/ cover;
}

.profile_pics {
    background: url(images/girl3.jpg) center center/ cover;
}


.slide_element {
    @apply font-bold
}


.link {
    @apply rounded-full transition ease-in-out duration-1000 hover:scale-110 hover:bg-black hover:text-white w-24 h-8 md:w-24 md:h-14
}

.link {
    border: 2px solid #787878;
    color: #787878;

}


/* styles for portfolio and service */



/*  Portfolio personal styling*/

.h_lines{
    @apply font-bold text-5xl
}










.show {
    @apply relative h-28 transition ease-in-out duration-700
}
.show_child {
    @apply relative h-28 w-full transition ease-in-out duration-700 hover:scale-110 flex justify-center items-center
}

.show_child {
    border-radius: 2px;
    box-shadow: -0.3px 0.7px 10px rgba(13, 13, 13, 2);
    ;
}

.more {
    @apply hover:scale-110 transition ease-out duration-700
}

.Tcontainer {
    @apply pt-4
}


.child1 {
    background: url(images/ecomerce.jpg) center center/ cover;
}

.child2 {
    background: url(images/radio.jpg) center center/ cover;
}

.child3 {
    background: url(images/imagesss.jpg) center center/ cover;
    ;
}

.child4 {
    background: url(images/food.jpg) center center/ cover;
}

.child5 {
    background: url(images/schoolweb.jpg) center center/ cover;
}


.child6 {
    background: url(images/market.jpg) center center/ cover;
}


.childd1 {
    background: url(images/webdev.jpg) center center/ cover;
}

.childd2 {
    background: url(images/app.jpg) center center/ cover;
}

.childd3 {
    background: url(images/ai.jpg) center center/ cover;

}

.childd4 {
    background: url(images/uiux1.jpg) center center/ cover;
}

.childd5 {
    background: url(images/coin.jpg) center center/ cover;
}


.childd6 {
    background: url(images/dataa.jpg) center center/ cover;
}


/* 
 
.home_con{
    
    background-color: blueviolet;
   
}  */

.nl {
    padding-left: 2px;
}

/* 
.container{
    background-color: rgba(35, 31, 31, 0.4);
} */
/* 
.home {
    background: url(images/jpeg-optimizer_18429.jpg) center center/ cover;
}

.about {
    background: url(images/aboutpics.jpg) center center/ cover;
}

.profile_pics {
    background: url(images/young-man-with-hoodie_23-2147646522.jpg) center center/ cover;
}

.portfolio {
    background: url(images/homepic.jpg) center center/ cover;

}

.Services {
    background: url(images/option.jpg) center center/ cover;
}

.skills {
    background: url(images/jpeg-op.jpg) center center/ cover;
} 


.timeline {
    background: url(images/contech.jpg) center center/ cover;
}

.contact {
    background: url(images/contech.jpg) center center/ cover;
}*/


.social {
    @apply mx-4 h-7 w-7 transition ease-in-out duration-500
}

.social {
    /* background-color: var(--color--grey-4); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-items: center;
    box-shadow: var(--box--shadow-2);
    cursor: pointer;



    i {
        pointer-events: none;
        color: white;
    }

}


.show {


    transition: all 0.4s ease-in-out;

    .more {
        z-index: -2;
    }


    &:hover {
        background-color: rgb(37, 46, 46, 0.6);
        z-index: 10;

        .show {
            z-index: 2;
        }

        .more {
            z-index: 3;
            transition: all 0.4s ease-in-out;

        }


    }
}

/* 

  .bl:hover {
      border-radius: 5px;
      box-shadow: var(--box--shadow-1);
      transform: translateY(-10px);
      transition: all 0.4s ease-in-out;
      filter: grayscale(50%);
      transform: scale(1.05);
      z-index: 2;

      #txt {
          font-size: x-small;
      }

      .dropp {
          transform: translateY(-5px);
          z-index: 10;
          font-weight: 900;
          font-size: 1.3rem;
          filter: grayscale(0);
          visibility: visible;
          transition: all 0.4s ease-in-out;
      }
  } */

.progress {
    @apply ml-auto mr-auto
}


/* 
.skill-con{
    background-color: rgba(27, 27, 29, 0.1);
} */
.progress-container {

    position: relative;
    width: 80%;
    margin: 0 auto 50px auto;
    gap: 15px;
    z-index: 2;

    .progress {
        display: flex;
        flex-direction: column;
        z-index: 10;
        position: relative;
        width: 35%;

        .status-line {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;



            z-index: -1;
            gap: 10px;

            .num {
                color: #27ae60;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transform: translateY(50%);
            }

            .lan_num {
                background-color: rgba(27, 27, 29, 0.8);
                z-index: 4;
            }

            .lan_num:hover {
                background-color: rgba(49, 38, 53, 0.2);

            }

            .status-bar {
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;
                /* background-color: transparent !important; */

                height: 50px;
                box-shadow: var(--box--shadow-2) !important;
                border-radius: 100%;
                /* Set border-radius to 50% for a perfect circle */
                width: 50px;

                .lan_num {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center !important;



                }

                .htm {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid var(--color--secondary);
                    border-radius: 100%;
                }

                .css {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid var(--color--secondary);
                    border-radius: 100%;
                }

                .javascript {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid var(--color--secondary);
                    border-radius: 100%;
                }

                .bot {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid var(--color--secondary);
                    border-radius: 100%;
                }

                .github {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid var(--color--secondary);
                    border-radius: 100%;
                }

                .git {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid var(--color--secondary);
                    border-radius: 100%;
                }

                .tailwind {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid var(--color--secondary);
                    border-radius: 100%;
                }

                .react {
                    display: block;
                    position: relative;
                    z-index: 2;
                    box-shadow: var(--box--shadow-2) !important;
                    width: 100%;
                    height: 100%;
                    border: 1.4px solid red;
                    border-radius: 100%;
                }





            }


        }
    }
}

.timeline2 {

    margin: 0 auto 0 auto !important;
    position: relative;
    width: 80%;

    .timeline-items {
        background-color: transparent;
        position: relative;

        .timeline-icon {
            cursor: pointer;
            background-color: var(--color--secondary);
            padding: 1rem;
            width: 5px;
            position: relative;
            height: 5px;
            /* margin: 0.5rem auto; */
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: var(--box--shadow-2);

            i {
                pointer-events: none;
                color: white;
            }
        }
    }

    .info {
        position: relative;
        padding-left: 42px;
        margin-top: -30px;

        .job {
            color: var(--color--grey-3);
        }

        .tl-duration {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: var(--color--grey-6);
            width: 50%;
            height: 5%;
            font-size: 0.7rem;
            box-shadow: var(--box--shadow-2);
            border-radius: 3px;
            border: 2px solid var(--color--grey-5);
        }

        .space {
            margin: 10px 0 5px 0;
        }

        .spc {
            margin-top: -5px;
        }

        .discription {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
            font-size: 0.9rem;
            color: var(--color--grey-3);
        }
    }
}

.run {
    text-align: center;
    color: #333;
}

form {

    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: var(--color--grey-5);
        color: #ccc;
    }
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}




.cbutton {
    background-color: transparent;


    cursor: pointer;


    &:hover {
        background-color: rgba(35, 31, 31, 0.92);
        ;
        color: #ccc;
    }
}

/* 
.con_footer{
    
} */



@media (max-width:350px) {

    .profile_pics {
        width: 300px;
    }

}

.slieShow {
    box-shadow: var(--box--shadow-2);
}